image: node:latest
variables:
  MAVEN_OPTS: "-Dorg.gradle.daemon=false"
  GIT_STRATEGY: clone

stages:
  - build
  - test
  - staging
  - production

build:
  image: maven:latest
  stage: build
  tags:
    - ugrad
  script:
    - echo "Maven compile started"
    - "mvn clean install"

test:
  image: maven:latest
  stage: test
  tags:
    - ugrad
  script:
    - echo "Maven test started"
    - "mvn test"

staging:
  stage: staging
  image: ruby:latest
  script:
    - echo "Maven deploy Stage"
    - "mvn package"
    - "scp -o StrictHostKeyChecking=no -o UserKnownHostsFile=./known_hosts target/bloodDonation-0.0.1-SNAPSHOT.jar kkn@timberlea.cs.dal.ca:/users/grad/kkn/asdc"
  tags:
    - ugrad

production:
  stage: production
  image: ruby:latest
  only:
    - main
  script:
    - echo "Maven deploy Prod"
    - "mvn package"
    - "apt install sshpass"
    - "sshpass -p 'WuKong@0880' scp target/bloodDonation-0.0.1-SNAPSHOT.jar kkn@timberlea.cs.dal.ca:/users/grad/kkn/asdc"
  tags:
    - ugrad
