image: node:latest
variables:
  MAVEN_OPTS: "-Dorg.gradle.daemon=false"
  GIT_STRATEGY: clone

stages:
  - build
  - test
  - staging
  - production

build:
  image: maven:latest
  stage: build
  tags:
    - ugrad
  script:
    - echo "Maven compile started"
    - "mvn clean install"

test:
  image: maven:latest
  stage: test
  tags:
    - ugrad
  script:
    - echo "Maven test started"
    - "mvn test"

staging:
  stage: staging
  image: ruby:latest
  only:
    - develop
  script:
    - echo "Maven deploy Stage"
    - "mvn -Ptest package"
    - "chmod 600 $SSH_KEY"
    - "scp -i $SSH_KEY -o StrictHostKeyChecking=no -o UserKnownHostsFile=./known_hosts target/bloodDonation-0.0.1-SNAPSHOT.jar kkn@timberlea.cs.dal.ca:/users/grad/kkn/asdc/test/bloodDonation.jar"
  tags:
    - ugrad

production:
  stage: production
  image: ruby:latest
  only:
    - main
  script:
    - echo "Maven deploy Prod"
    - "mvn -Pprod package"
    - "chmod 600 $SSH_KEY"
    - "scp -i $SSH_KEY -o StrictHostKeyChecking=no -o UserKnownHostsFile=./known_hosts target/bloodDonation-0.0.1-SNAPSHOT.jar kkn@timberlea.cs.dal.ca:/users/grad/kkn/asdc/prod/bloodDonation.jar"
  tags:
    - ugrad
